<% 
const { user } = locals;
const username = user ? user.username : 'stranger';
%>

<nav>
  <a href="/">Home</a>
  <% if (user) { %>
  <a href="/logout">Logout</a>
  <% } else { %>
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
  <% } %>
</nav>

<h1>Hello, <%= username %>!</h1>

<form action="" method="POST" enctype="multipart/form-data">
  <label for="avatar">Avatar: </label>
  <input type="file" name="avatar" id="avatar" />
  <br />
  <button type="submit">Upload</button>
</form>